.two-columns__paragraph {
  list-style: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
}

.two-columns__paragraph:nth-child(even) {
  margin: 30px 0;
}
